.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc.json
.eslintrc.json
**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
**/tslint.json
**/*.test.js
test/**
node_modules/.bin/**
node_modules/**/test/**
DEVELOPMENT.md
TESTING.md
demo.sh
build.sh
*.vsix
